<div class="index-container">

  <div class="form-container">
    <h1>Sessions/new</h1>
    <%= form_tag '/login' do %>
      <div class="form-row">
        <label for="email"> Email: </label> <%= text_field_tag :email %>
      </div>
      <div class="form-row">
        <label for="password"> Password: </label> <%= password_field_tag :password %>
      </div>
      <%= submit_tag "Log in" %>

      <% end %>
  </div>
</div>
