// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************/
/************* Set page defaults ***************/
/***********************************************/
html, body, div, span, label,
h1, h2, h3, h4, h5, h6, p, ol, ul, li,
fieldset, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


body{
  background-image: url(http://wallpaperus.org/wallpapers/07/73/plants-lab-1920x1080-wallpaper-2148832.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2 {
  font-weight: bold;
  align-items: center;
}


.submit {
  text-align: center;
}

.index-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #E0E0E0;
  width: 40%;
  opacity: .9;
  margin: auto;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Arial Verdana", sans-serif;
}

.form-row {
  display: block;
  margin-bottom: 1vh;
  font-weight: bold;
}

.form-row label {
  display: inline-block;
  width: 15vw;
}

.text-field {
  display: inline-block;
  width: 15vw;
}
